<template>
    <div>
        <div class="form-row">
            <div class="col">
                <label for="transfer-username">Home Socket.io</label>
                <input type="text" v-model="newMessage" @keydown.enter="save"
                class="form-control" v-bind:class="{'is-invalid': invalidRes}"
                placeholder="Enter any 10 Digit number..." autofocus>
                <div :class="{'invalid-feedback': invalidRes}" v-html="feedbackBox"></div>
            </div>
        </div>
         <button type="button" class="btn btn-primary mt-4" @click="save">
             <strong>Send!</strong>
         </button>
        <br>
        <br>


    </div>
</template>

<script>
    export default {
        data() {
            return {
                newMessage: '',
                feedbackBox: '',
                invalidRes: false,
                dispalyMessgae:''
            }
        },
        methods: {
            save() {
                    axios.post(`/ajax/send-message`, {message: this.newMessage })
                     .catch(function (error) {
                            return error.response;
                      }).then(this.setResponse);

                    this.newMessage = '';
            },
            setResponse(response) {
                if (response.status != 200) {
                    this.invalidRes = true;
                    this.feedbackBox = response.data.errors.message[0];
                } else {
                    this.invalidRes = false;
                    this.feedbackBox = "Your message was sent!";
                    //this.dispalyMessgae=response;
                }
            }
        }
    };
</script>
